{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'lt' }}">
<head>
{% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
  {# include 'partials/metadata.html.twig' #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ url('theme://img/favicon.png') }}" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />
  
  {# ikonos #}
    <link rel="icon" type="image/png" href="{{ url('theme://images/iktmokyklai_16x16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ url('theme://images/iktmokyklai_32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url('theme://images/iktmokyklai_96x96.png') }}" sizes="96x96" />
        
  {% block stylesheets %}
    {#{% do assets.addCss('theme://css/bootstrap.css', 110) %}#}
    {% do assets.addCss('bootstrap') %}
    {% do assets.addCss('theme://css/stack-interface.css') %}
    {% do assets.addCss('theme://css/socicon.css') %}
    {% do assets.addCss('lightbox') %}
    {% do assets.addCss('flickity') %}
    {% do assets.addCss('theme://css/iconsmind.css') %}
    {% do assets.addCss('steps') %}
    {% do assets.addCss('theme://css/theme.css') %}
    {% do assets.addCss('theme://css/custom.css') %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i') %}
    {% do assets.addCss('https://fonts.googleapis.com/icon?family=Material+Icons') %}
  {% endblock %}
  {{ assets.css() }}

  {% block javascripts %}
    {% do assets.addJs('theme://js/jquery-3.1.1.min.js', {'priority':115, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/flickity.min.js', {'priority':114, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/easypiechart.min.js', {'priority':113, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/parallax.js', {'priority':112, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/typed.min.js', {'priority':111, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/datepicker.js', {'priority':110, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/isotope.min.js', {'priority':109, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/ytplayer.min.js', {'priority':108, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/lightbox.min.js', {'priority':107, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/granim.min.js', {'priority':106, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.steps.min.js', {'priority':105, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/countdown.min.js', {'priority':104, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/twitterfetcher.min.js', {'priority':103, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/spectragram.min.js', {'priority':102, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/smooth-scroll.min.js', {'priority':101, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/scripts.js', {'priority':100, 'group':'bottom'}) %}
  {% endblock %}
  {{ assets.js() }}

{% endblock head %}
</head>
<body>
  <a id="start"></a>
  
    {% block navigacija %}
      {% include 'dalys/meniu.html.twig' %}
    {% endblock %}

  <div class="main-container">
    
    {% block turinys %}{% endblock %}

    {% block padas %}
      {% include 'blokai/footer-3.html.twig' %}
    {% endblock %}
    
  </div>
    
  <!--<div class="loader"></div>-->
  <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
      <i class="stack-interface stack-up-open-big"></i>
  </a>
  {{ assets.js('bottom') }}

  
  {% block skriptas %}{% endblock %}
  
  </body>
</html>