{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'lt' }}">
<head>
{% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
  {# include 'partials/metadata.html.twig' #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ url('theme://img/favicon.png') }}" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />
  
  {# ikonos #}
    <link rel="icon" type="image/png" href="{{ url('theme://images/iktmokyklai_16x16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ url('theme://images/iktmokyklai_32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url('theme://images/iktmokyklai_96x96.png') }}" sizes="96x96" />
        
  {% block stylesheets %}
    {% do assets.addCss('bootstrap-css') %}
    {% do assets.addCss('theme://css/stack-interface.css') %}
    {% do assets.addCss('theme://css/socicon.css') %}
    {#{% do assets.addCss('lightbox-css') %}#}
    {% do assets.addCss('flickity-css') %}
    {% do assets.addCss('theme://css/iconsmind.css') %}
    {#{% do assets.addCss('steps-css') %}#}
    {% do assets.addCss('theme://css/theme.css') %}
    {% do assets.addCss('theme://css/custom.css') %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Merriweather:300,300i|Open+Sans:300,300i,400,400i,600,600i,700&amp;subset=latin-ext') %}
    {% do assets.addCss('https://fonts.googleapis.com/icon?family=Material+Icons') %}
  {% endblock %}
  {{ assets.css() }}

  {% block javascripts %}
    {% do assets.addJs('jquery3') %}
    {% do assets.addJs('flickity-js') %}
    {#{% do assets.addJs('easypiechart-js') %}#}
    {#{% do assets.addJs('parallax-js') %}#}
    {#{% do assets.addJs('typed-js') %}#}
    {#{% do assets.addJs('datepicker-js') %}#}
    {% do assets.addJs('isotope-js') %}
    {#{% do assets.addJs('ytplayer-js') %}#}
    {#{% do assets.addJs('lightbox-js') %}#}
    {% do assets.addJs('granim-js') %}
    {#{% do assets.addJs('steps-js') %}#}
    {#{% do assets.addJs('countdown-js') %}#}
    {#{% do assets.addJs('twitterfetcher-js') %}#}
    {#{% do assets.addJs('spectragram-js') %}#}
    {% do assets.addJs('smooth-scroll-js') %}
    {% do assets.addJs('theme://js/scripts.js') %}
  {% endblock %}

  {{ assets.js('up') }}

{% endblock head %}
</head>
<body>
  <a id="start"></a>
  
    {% block navigacija %}
      {% include 'dalys/meniu.html.twig' %}
    {% endblock %}

  <div class="main-container">
    
    {% block turinys %}{% endblock %}

    {% block padas %}
      {% include 'blokai/footer-3.html.twig' %}
    {% endblock %}
    
  </div>
    
  <!--<div class="loader"></div>-->
  <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
      <i class="stack-interface stack-up-open-big"></i>
  </a>
  
  {{ assets.js() }}
  {% block skriptas %}{% endblock %}
  
  </body>
</html>