{% set zodziuSkaicius = content|split(' ')|length %}
{% set sakiniuSkaicius = content|split('. ')|length + (content|split('! ')|length - 1) + (content|split('? ')|length - 1) %}

<section class="text-center" style="padding-bottom: 3em;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 ">
        <h2>{{ page.title }}</h2>
        <p class="lead">
          Žodžių: {{ zodziuSkaicius }}, sakinių: {{ sakiniuSkaicius }}
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="tabs-container" data-content-align="left">
          <ul class="tabs">
            <li class="active">
              <div class="tab__title">
                <i class="icon icon--sm block icon-Ear"></i>
                <span>1. Išklausykite</span>
              </div>
              <div class="tab__content">
                
                {#<section class="space--sm blog-article-wide">#}
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <p>
                        Pirmiausia leiskite vaikui išklausyti visą diktanto tekstą.
                      </p>
                      <div class="audio-list">
                        <div id="audio" class="audio-item">
                          <div id="playBtn">
                            <i class="audio__icon icon icon-Start color--primary"></i>
                            <div class="audio__text">Pilnas diktanto tekstas</div>
                          </div>
                          <div id="pauseBtn" style="display: none;">
                            <i class="audio__icon icon icon-Pause color--primary"></i>
                            <div class="audio__text" style="color: #fd7e14">Pilnas diktanto tekstas</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {#</section>#}
              </div>
            </li>
            {% if page.header.sakiniai|length > 0 %}
            <li>
              <div class="tab__title">
                <i class="icon icon--sm block icon-Text-HighlightColor"></i>
                <span>2. Rašykite po vieną sakinį</span>
              </div>
              <div class="tab__content">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <p>
                        Instrukcija, kaip rašyti diktantą.
                      </p>
                      <div class="audio-list">
                        
                      {% for sakinys in page.header.sakiniai %}
                        <div id="audio{{ loop.index }}" class="audio-item">
                          <div id="play{{ loop.index }}">
                            <i class="audio__icon icon icon-Start color--primary"></i>
                            <div class="audio__text">{{ sakinys.sakinys }}{% if sakinys.nauja_pastraipa %} iš naujos eilutės{% endif %}</div>
                          </div>
                          <div id="pause{{ loop.index }}" style="display: none;">
                            <i class="audio__icon icon icon-Pause color--primary"></i>
                            <div class="audio__text" style="color: #fd7e14">{{ sakinys.sakinys }}{% if sakinys.nauja_pastraipa %} iš naujos eilutės{% endif %}</div>
                          </div>
                        </div>
                      {% endfor %}
                      
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% endif %}
            <li>
              <div class="tab__title">
                <i class="icon icon--sm block icon-Pen"></i>
                <span class="h5">Rašykite</span>
              </div>
              <div class="tab__content lead">
                {{ page.content }}
              </div>
            </li>
          </ul>
        </div>
        <!--end of tabs container-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>