<ul class="menu-horizontal text-left">
  {# <li>
    <a href="{{ uri.rootUrl() }}">Pradžia</a>
  </li>
  <li>
    <a href="{{ uri.rootUrl() }}/naujienos">Naujienos</a>
  </li>
  <li>
    <a href="{{ uri.rootUrl() }}">Apžvalgos</a>
  </li>
  <li>
    <a href="{{ uri.rootUrl() }}">Seminarai</a>
  </li>
  <li>
    <a href="{{ uri.rootUrl() }}/resursai">Resursai</a>
  </li> #}
</ul>