<div class="row justify-content-around">
  <div class="col-lg-6">
    <div id="{{ id }}svg" class="linijos">
      {{ page.content }}
    </div>
    {#<img alt="Image" class="border--round box-shadow-wide" src="{{ url('theme://img/landing-11.jpg') }}">#}
    <div id="sliderWrapper">
      <div id="{{ id }}slider" class="ui-slider ui-slider-horizontal ui-wiget ui-wiget-content ui-corner-all">
        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
      </div>
  </div>
  <div>
    <a class="btn btn--sm" id="{{ id }}play"><span class="btn__text">Rodyti</span></a> 
    <a class="btn btn--sm" id="{{ id }}slow"><span class="btn__text">Rodyti lėčiau</span></a>
  </div>
  </div>
  <div class="col-lg-5">
    <div class="switchable__text">
      <h2>{{ page.title }}</h2>
      <p class="lead">{{ page.header.lead }}</p>
    </div>
  </div>
</div>