{% extends 'dalys/baze.html.twig' %}
{% set raide = page.taxonomy.kategorija[0] %}

{#{% if tags %}#}
{#    {% set progress = page.collection({'items':{'@taxonomy':{'kategorija': 'diktantai', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}#}
{#{% else %}#}
{#    {% set progress = page.collection({'items':{'@taxonomy':{'kategorija': 'diktantai'}},'order': {'by': 'default', 'dir': 'asc'}}) %}#}
{#{% endif %}#}

{% if page.url|split("/")[1] == "iktmokyklai" %}
  {% set skyrius = page.url|split("/")[2] %}
{% else %}
  {% set skyrius = page.url|split("/")[1] %}
{% endif %}

{% block stylesheets %}
  {{ parent() }}
  {% do assets.addCss('jquery-ui-css') %}
{% endblock %}

{% block navigacija %}
  {% if not (grav.uri.param('be-meniu')) and not (config.site.hidesidebaronblogpages.enabled) and not (page.parent.header.hide_sidebar) %}
    {% include 'dalys/meniu-soninis.html.twig' %}
  {% endif %}
{% endblock %}

{% block turinys %}
  {# antraštė. stiliai: light, medium, dark, primary, image; dydis: sm, md, lg; #}
  {% include 'elementai/title-section-1.html.twig' with {stilius: 'light', dydis: 'sm', lead: page.header.lead|striptags} %}
    
  {#{% set kolekcija = page.collection({'items':{'@page': '/dailyrastis/typo'}}) %}#}
  {% set kolekcija = page.collection({'items':{'@taxonomy':{'zyma': raide}}, 'order': {'by': 'default', 'dir': 'asc'}}) %}

  {% for k in kolekcija %}
    {% set id = raide ~ loop.index %}
    <section class="{% if loop.index is divisibleby(2) %}switchable {% endif %}feature-large space--sm">
      <div class="container">
        {% include 'dalys/svg.html.twig' with {'page':k, 'id': id} %}
      </div>
    </section>
    <hr>
  {% endfor %}
  
  
  {#{% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}#}
  {#{% include 'dalys/' ~ skyrius ~ '-pamoka.html.twig' %}#}
  
{% endblock %}

{% block padas %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.addJs('jquery-ui-js') %}
    {% do assets.addJs('TweenMax-js') %}
{% endblock %}

{% block skriptas %}
{% set kolekcija = page.collection({'items':{'@taxonomy':{'zyma': raide}}, 'order': {'by': 'default', 'dir': 'asc'}}) %}
{% for d in 1..kolekcija|length %}
<script>

  var svgKonteineris{{ d }} = document.getElementById("{{ raide }}{{ d }}svg");
  var ns = "http://www.w3.org/2000/svg";
  var tl{{ d }} = new TimelineMax({onUpdate:function(){updateSlider{{ d }}()}});
  
  tl{{ d }}.pause();
  
  //tl{{ d }}.progress() = 1;

  var  svgPaths{{ d }} = svgKonteineris{{ d }}.getElementsByTagNameNS(ns, "path");

  for (var i = 0; i <  svgPaths{{ d }}.length; i++){
    //select path
    var kelias{{ d }} = svgPaths{{ d }}[i];
    // get pixel length of the svg path
    var kelioIlgis{{ d }} = kelias{{ d }}.getTotalLength();
    // apply styles to stroke-dasharray and stroke-dashoffset
    kelias{{ d }}.style.strokeDasharray = kelioIlgis{{ d }}+" "+kelioIlgis{{ d }};
    kelias{{ d }}.style.strokeDashoffset = kelioIlgis{{ d }};
    var laikas{{ d }} = kelioIlgis{{ d }}/200;
    tl{{ d }}.add(TweenMax.to(kelias{{ d }}.style, laikas{{ d }}, {strokeDashoffset:0}, (i>0)?"":""));
    // tl{{ d }}.add(TweenMax.to(kelias{{ d }}.style, laikas{{ d }}, {strokeDashoffset:0, delay:(i>0)?"00":"0"}, (i>0)?"":""));
  }

  $("#{{ raide }}{{ d }}slider").slider({
    range: false,
    min: 0,
    max: 100,
    step: 0.1,
    slide: function(event, ui) {
      tl{{ d }}.pause();
      tl{{ d }}.progress(ui.value/100);
    }
  });

  function updateSlider{{ d }}() {
    $("#{{ raide }}{{ d }}slider").slider("value", tl{{ d }}.progress()*100);
  }

  $("#{{ raide }}{{ d }}play").click(function() {
    tl{{ d }}.play();
    if(tl{{ d }}.progress() === 1){
      tl{{ d }}.restart();
    }
  });
  
</script>
{% endfor %}
{% endblock %}