{% set iliustracija = page.media.images|first %}

{% if not truncate %}
  
  
  
{% else %}  
  
  <div class="masonry__item col-md-6 text-center" data-masonry-filter="Šviesus,tamsus">
  	<div class="project-thumb">
    	<a href="{{ page.url }}">
      	<img alt="{{ page.title }} šablono iliustracija" class="border--round" src="{{ iliustracija.url }}" title="{{ page.title }} šablono iliustracija" />
      	{#{ iliustracija.html('šablono iliustracija', 'šablono iliustracija', 'border--round') }#}
    	</a>
  	  <h4>{{ page.title }}</h4>
      <span></span>
    </div>
  </div>
  <!--end item-->
  
{% endif %}