{% set iliustracija = page.media.images|first %}

{% if not truncate %}
	
<article>
	<div class="article__title text-center">
			<h1 class="h2">{{ page.title }}</h1>
	</div>
	<!--end article title-->
	<!--TODO sutvarkyti šešėlį -->
	<div class="article__body">
	  <div class="video-cover box-shadow-wide" style="position:relative;padding-top:56.25%;">
			<iframe src="{{ header.prezentacijos_adresas }}/embed?start=false&loop=false" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
			</div>
		<div class="article__share text-center">
			<a class="btn bg--googleplus btn--icon" href="{{ header.google_adresas }}/copy" target="_blank">
					<span class="btn__text">
							<i class="socicon socicon-google"></i>
							Išsaugoti Google diske
					</span>
			</a>
			<a class="btn bg--facebook btn--icon" href="{{ header.google_adresas }}/export/pptx">
					<span class="btn__text">
							<i class="socicon socicon-windows"></i>
							Parsisiųsti kaip Powerpoint
					</span>
			</a>
	</div>
			{{ page.content }}
			{{ stars(page.route) }} 

	</div>
	
</article>

  
  
{% else %}  
  
  <div class="masonry__item col-md-6 text-center" data-masonry-filter="Šviesus,tamsus">
  	<div class="project-thumb">
    	<a href="{{ page.url }}">
      	<img alt="{{ page.title }} šablono iliustracija" class="border--round" src="{{ iliustracija.url }}" title="{{ page.title }} šablono iliustracija" />
      	{#{ iliustracija.html('šablono iliustracija', 'šablono iliustracija', 'border--round') }#}
    	</a>
  	  <h4>{{ page.title }}</h4>
      <span></span>
    </div>
  </div>
  <!--end item-->
  
{% endif %}